$footer-size: 3rem;

html {
  position: relative;
  min-height: 100%;
}

body {
  margin: 0, 0, $footer-size, 0;
  padding: 0;
  font-family: sans-serif;
}

.main {
  margin-top: 5rem;
  margin-bottom: 7rem;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: $footer-size;
  line-height: $footer-size;
  background-color: $gray-100;
}

.post {
  border: 1px solid #e5e6e7;
  border-radius: 5px;
  padding: 20px;
  
  .post-header {
    margin-bottom: 3px;
  }

  .post-text {
    font-size: 20px;
  }
}